

<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row   mx-auto">
      <div class="col-4 col-md">
        <img class="mb-2 img-fluid" src="https://s3-us-west-2.amazonaws.com/yinkin.ziruoinc.com/images/yinkin160x100.png" alt="" >
        <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
      </div>
      <div class="col-4 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/project">Products</a></li>
          <li><a class="text-muted" href="https://ying.d3gakpvwt1raoh.amplifyapp.com">App Squad</a></li>
          <li><a class="text-muted" href="https://kent5i5.wordpress.com">My Wordpress</a></li>
          <li><a class="text-muted" href="/https://github.com/kent5i5">Git repository</a></li>
        </ul>
      </div>
      <!-- <div class="col-6 col-md">
      		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPoll-1"><img src="images/instant-messaging-icon.gif" class="img-fluid" alt="Responsive image">Instant Chat with Me </button>

      </div> -->
      <div class="col-4 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://aws.amazon.com/">Amazon Cloud Web</a></li>
          <li><a class="text-muted" href="https://firebase.google.com">Google Firebase</a></li>
          <li><a class="text-muted" href="https://angularjs.org/">Angularjs 2</a></li>
          <li><a class="text-muted" href="https://developer.apple.com">Apple Developer</a></li>
          <li><a class="text-muted" href="/privacy">Privacy</a></li>
          <li><a class="text-muted" href="https://app.termly.io/document/terms-of-use-for-website/237b18c4-c9c0-45f9-8586-56d87d3d3e2f">Terms</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5></h5>
        <div class="picsum-img-wrapper " >
            <!-- <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2018-11-13&ci=AWS00647480">
              <img [src]="awsImage" alt="Random first slide" class="img-fluid rounded mx-auto d-block">
            </a> -->
          </div>
      </div>

    </div>
    
   

    	<ul class="nav nav-tabs nav-justified">
    						<li>
									<a href="https://twitter.com/yingkitng">
										<i class="icon social_twitter"><img src="{{ twitterImage }}" alt="twitter"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
                                        <i class="icon social_facebook"><a href="https://www.facebook.com/yingkit.ng.9"><img src="{{image}}" alt="facebook"></a></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_instagram"><a href="https://www.instagram.com/yinkinng/"><img alt="instagram" src="{{instantGramImage }}"></a></i>
									</a>
								</li>
              </ul>

      </footer>

       <div class="row">  <div class="col-auto mr-auto"></div>
        <div class="col-auto toTheRight">      
          <div class="floatingChat" style="" id="k" (click)="openchat()">
            <img [src]="chatImage" alt="chat" class="img-fluid rounded mx-auto d-block" ngbTooltip="Leave me a message here" placement="left">
          </div>
          </div>
      </div>
      
       
 
</div>


