<h2>LOGIN</h2>
<p>{{message}}</p>
	<div class="" *ngIf="!AccountService.isLoggedIn">
	 <form [formGroup]="checkoutForm" (ngSubmit)="login(checkoutForm.value)">

      <div>
        <div>
        <label for="email">email</label>
        <input id="email" type="text" class="form-control" formControlName="email" >   
       </div>
        <label for="name">name</label>
        <input id="name" type="text" class="form-control"  formControlName="name" autofocus>   
       </div>
       <div>
        <label for="password">password</label>
        <input id="password" type="text" class="form-control" formControlName="password">  
       </div>
       
	<button  type="submit">Login</button>
    <button type="button" class="btn btn-outline-secondary" (click)="reset()">Cancel</button>


	</form>
	</div>
<p>

  <button (click)="logout()" *ngIf="AccountService.isLoggedIn">Logout</button>
</p>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->