.bigposter{

}

.backlight{
	font: Serif;
	/* color:white; */
	background-blend-mode: lighten;
	/* background-color: rgba(0,1,2,.2); */
	border-bottom-width: thin;
	text-align: center;
}

.self-portait {
	border-radius: 4px;
	
}

.paddin-left200px{

	padding-left: 0px;
	margin-left: 120px;
}



.paddingTop{
	padding-top: 10px;
}


.margin20px{
	margin-right: 20px;
}

.padding-botton100px{
	padding-bottom: 100px;
	text-orientation: sideways;
}

.bordertopnbutton {
	border-style: solid;
	border-top-color: darkgray;
	border-bottom-color: turquoise;
	border-left-color: darkgray;
	border-right-color: aliceblue;
}


 /* Small devices (landscape phones, 600px and up) */
@media (max-width: 576px) { 
	.padding-botton100px{
		padding-left: 0px;
		width: 300px;
		padding-bottom: 10px;
	}
	
	
	.paddingTop{
		margin-left: 0;
	}
	
	.paddin-left200px{
		margin-left: 0;

	}

	/* .padding-left20px {
		margin-left: 100px;
	} */
 }