<div class="container-fluid paddingTop bigposter">
	
	<div class="row  backlight">
	
			
			<div class="row paddin-left200px">
			<div class="col-md-6">
				<h1>About Me</h1>
				<p>I have a continuing interest in technology as well as a
					communication system. I enjoy coding and a self-driven learner. I
					started with C++ since my college and later I adopted various
					languages including JAVA, PHP, PYTHON, SWIFT, and ANGULARJS. I like
					coding with Python the most and I found my new favor swift
					language. I want to be a Full stack developer who can perform
					mobile and web integration. With cloud service and server-less
					application, The development process becomes so much simpler and
					the developer can explore machine learning with which we can
					perform deeper research of big data. I am eager to explore the
					possibility of cloud services.</p>
			</div>
				
			</div>
	
					<div class="col-md-6 paddin-left200px"><h5>CLOUD COMPUTING</h5>

					<p>I have exposed to IBM and Google Cloud Engine where I developed web applications in python</p>
					</div>

					<div class="col-md-6 paddin-left200px"><h5 class="">Software Engineering </h5>

					<p>I practice to agile & scrum software development process where I work with other classmate and deliver web application 
						</p>
					</div>
					 
			

					<div class="col-md-6 paddin-left200px"><h5 class="">AWS CERIFIED obtained with cloud guru online courses training</h5>

					<p>AWS Developer Associate </p>
					 
					</div>
					
					<div class="col-md-6 paddin-left200px">Programming Languages:Python, JAVA,Swift</div>
				
	
			
	</div>


	<div class="row  backlight ">
		
	
			
	
		<div class="col-3 paddin-left200px">
			<h1>Contact Me</h1>
			<img class="img-fluid  padding-left20px" src="https://s3-us-west-2.amazonaws.com/yinkin.ziruoinc.com/images/email.png"  width="50" height="50">
			<div class="col-4">yinkineng@yahoo.com</div>

			<a href="https://www.linkedin.com/in/ying-kit-ng-0217ba52">
			<img class="img-fluid padding-left20px" src="https://s3-us-west-2.amazonaws.com/yinkin.ziruoinc.com/images/linkedin.png"  width="50" height="50">
			<div class="col-4 ">Linkedin</div>
			</a>
			
			
			
		</div>

		<div class="col-9">
			

		</div>
		


	</div>
	
	
	
</div>






