<div class="container-fluid paddingTop bigposter">
	
	<div class="row  backlight">
	
			
			<div class="row paddin-left200px">
			<div class="col-md-10">
				<h1>About Me</h1>
				<p>I have a continuing interest in technology as well as a
					communication system. I enjoy coding and a self-driven learner. I
					started with C++ since my college and later I adopted various
					languages including JAVA, PHP, PYTHON, SWIFT, and ANGULARJS. I like
					coding with Python the most and I found my new favor swift
					language. I want to be a Full stack developer who can perform
					mobile and web integration. With cloud service and server-less
					application, The development process becomes so much simpler and
					the developer can explore machine learning with which we can
					perform deeper research of big data. I am eager to explore the
					possibility of cloud services.</p>
			</div>
				
			</div>


	<div class="row  backlight ">
		
	
		

		<div class="col-9">
			

		</div>
		


	</div>
	
	
	
</div>






