<div class="container">


	<div class="row project">

		
		
		<div class="col-md-6 sidemargin">
		<h3>Yinkin Elder Service</h3>

			<p>Platform: Android</p>
			<!-- <a target="_blank" href="{{androidImage}}">
				  <img [src]="androidImage"  alt="Forest" style="width:200px">
			</a> -->
	
		<img class="" style="padding-right: 10px;" src="assets\image\Screenshot_1607208318.png" width="150" height="300"  >

		<img class="" src="assets\image\Screenshot_1607208278.png" width="150" height="300"  >
			
		</div>
		<div class="col-6">
			<div>
			
			<ngx-md>
				### SF Living Wage Mobile App (Voluteer Work)
			</ngx-md>
				
			<p>v7 </p>	
			</div>
		<div>
			<h3>Technology</h3>
			<p>React-native</p>	
		</div>
		<div>
			<h3>GitHub Link</h3>
			<a href="https://github.com/jmejiamu/sflivingwages-mobil-app"> GitHub Repo of the App </a>	
		</div>
		
		</div>
		
		
	</div>

	<div class="row project">

		
		
		<div class="col-md-6 sidemargin">
		<h3>Yinkin Elder Service</h3>

			<p>Platform: Android</p>
			<!-- <a target="_blank" href="{{androidImage}}">
				  <img [src]="androidImage"  alt="Forest" style="width:200px">
			</a> -->
		<img class="" style="padding-right: 10px;" src="assets/image/Screenshot_1604634177_small.png" width="150" height="300"  >
		<img class="" src="assets/image/Screenshot_1606097783_small.png" width="150" height="300"  >
			
		</div>
		<div class="col-6">
			<div>
			
			<ngx-md>
				### Elder Service App 
			</ngx-md>
				
			<p>v1 </p>	
			</div>
		<div>
			<h3>Technology</h3>
			<p>Android and parase server </p>	
		</div>
		<div>
			<h3>GitHub Link</h3>
			<a href="https://github.com/kent5i5/yinElderService">https://github.com/kent5i5/https://github.com/kent5i5/yinElderService </a>	
		</div>
		
		</div>
		
		
	</div>

	<div class="row project">
		
		<div class="col-md-6 sidemargin">
		<h3>IT Blog & My Personal Portfolio</h3>

			<p>Platform: Web/IOS</p>
			<a target="_blank" href="{{webPageImage}}">
				  <img [src]="webPageImage"  alt="Forest" style="width:200px">
			</a>
		<img class="" [src]="iphoneImage" width="150" height="300"  >
			
		</div>
		<div class="col-6">
			<div>
			<h3>Goal</h3>
			<p>Promote my software engineering skills</p>	
			<p>Provide a platform for myself to record every Technology that I have learnd and every products that I have created.</p>	
			</div>
		<div>
			<h3>Technology</h3>
			<p>The application is created with angularJS2 framework and use Firebase for backend services </p>	
		</div>
		<div>
			<h3>GitHub Link</h3>
			<a href="https://github.com/kent5i5">https://github.com/kent5i5/yinkin-iphone </a>	
		</div>
		
		</div>
		
		
	</div>
	
	<div class="row project">
		
		<div class="col-md-6 sidemargin">
		<h3>Django & AWS Portfolio ( My old website)</h3>

			<p>Platform: AWS elastic Beanstalk</p>
			
			<a href="https://github.com/kent5i5/kitsportfolio">My Django Website Source Code</a>
	
			
		</div>
		<div class="col-md-6">
			<div>
			<h3>Goal</h3>
			<p>Promote my software engineering skills</p>	
			<p>I built a website that is ready to deploy on Amazon EBS. The whole purpose of the project is to enhance my skills on hosting a website on Amazon cloud as well as python.  </p>	
			</div>
		<div>
			<h3>Technology</h3>
			<p>The application is created with Django-python framework and use a MySQL server at amazon as backend services </p>	
		</div>
		</div>
		
		
	</div>

	
	<div class="row project">
		
		<div class="col-md-6 sidemargin">
		<h3>Apache Spark set up & Data Set practice</h3>

			<p></p>
			<a target="_blank" href="{{apacheSpark}}">
				  <img [src]="apacheSpark"  alt="Forest" style="width:200px">
				</a>
		<a target="_blank" href="{{apacheSparkShell}}">
				  <img [src]="apacheSparkShell"  alt="Forest" style="width:200px">
				</a>
		
			
		</div>
		<div class="col-md-6">
			<div>
			<h3>Goal</h3>
			<p>Set up Apacke Spark Master & 2 slaves machines on a linux server</p>	
			<p>Practice Scala/Python components: Spark Core, DataFrames, Datasets, SQL as well as MLib</p>	
			</div>
		<div>
			<h3>Technology</h3>
			<p>Apache Spark is one of best distributed computing engine for big data processing </p>	
		</div>
		</div>
		
		
	</div>
	

</div>
