<div class="container-fluid paddingTop">
	<div class="row ">
			<div class="col-8 " >
			<img class="bigPoster" src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/73513554_2937915762902754_8980034746234961920_o.jpg?_nc_cat=102&_nc_oc=AQlfL12TLB7V41dKpB3HbZZGw_E8NmFyYX_PLZbwoB_y_IO6HfPtKPG73pCL6iHaoPk&_nc_ht=scontent-lax3-2.xx&oh=e41c892a31ecfd1cfeab598c0c1b2703&oe=5E1E219E">
			
			</div>
			
			<div class="col-4 ">
				<h1>About Me</h1>
				<p> I have a continue interests in technology as well as communication system. I enjoy coding and a self driven learner. I started with C++ since my 
				college and later I adopted various languages including JAVA, PHP , PYTHON, SWIFT and ANGULARJS. I like coding with Python the most and I found my new 
				favor swift language. I want to be a Full stack developer who can perform the mobile and web integration. With cloud service and server-less application, 
				The development process becomes so much simpler and the developer can explore the machines learning with which we can perform deeper research of big data.
				I am eager to explore possibility of cloud services.  </p>
			</div>
		</div>


	<div class="row paddin-left200px text-center">
		
	
	
		<div class="col-3 ">
			
			
			
			
			<img class="img-fluid self-portait  padding-left20px" src="https://s3-us-west-2.amazonaws.com/yinkin.ziruoinc.com/images/kitsportfolio_small.png"  width="100" height="100">
			<div class=" margin20px padding-botton100px">Kenneth Eng</div>
			
			<img class="img-fluid  padding-left20px" src="https://s3-us-west-2.amazonaws.com/yinkin.ziruoinc.com/images/email.png"  width="50" height="50">
			<div class="col-3 padding-botton100px">CALIFORYKNG5I5@GMAIL.COM</div>

			<img class="img-fluid padding-left20px" src="https://s3-us-west-2.amazonaws.com/yinkin.ziruoinc.com/images/linkedin.png"  width="50" height="50">
			<div class=" padding-botton100px">Linkedin Profolio</div>

			<div class="padding-botton100px">Programming Languages:Python, JAVA,Swift</div>
			<div class=" padding-botton100px"></div>
		</div>
		
		<div class="col-sm-9 ">
				<div class="row text-center">
				<div class="col-9"><h4 class="bordertopnbutton"><span class=""> About me: </span></h4></div>
				<p> I have a continue interests in technology as well as communication system. I enjoy coding and a self driven learner. I started with C++ since my 
				college and later I adopted various languages including JAVA, PHP , PYTHON, SWIFT and ANGULARJS. I like coding with Python the most and I found my new 
				favor swift language. I want to be a Full stack developer who can perform the mobile and web integration. With cloud service and server-less application, 
				The development process becomes so much simpler and the developer can explore the machines learning with which we can perform deeper research of big data.
				I am eager to explore possibility of cloud services.  </p>
				
					<div class="col-9"><h4 class="bordertopnbutton"><span class=""> SCHOOL WORK </span></h4></div>
				

					<div class="col-9"><h5>CLOUD COMPUTING</h5>

					<p>I have exposed to IBM and Google Cloud Engine where I developed web applications in python</p>
					</div>

					<div class="col-9"><h5 class="">Software Engineering </h5>

					<p>I practice to agile & scrum software development process where I work with other classmate and deliver web application 
						</p>
					</div>
					 
					<div class="col-9"><h4 class="bordertopnbutton"><span class=""> EDUCATION </span></h4></div>
					<div class="col-9"><h5>SAN FRANCISCO STATE UNIVERSITY </h5>

					<p>Bachelor’s Degree in Computer Science</p>
					<p></p>

					</div>

					<div class="col-9"><h5 class="">AWS CERIFIED obtained with cloud guru online courses training</h5>

					<p>AWS Developer Associate </p>
					 <div class="picsum-img-wrapper " >
						<a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2018-11-13&ci=AWS00647480">
							<img src="https://s3-us-west-2.amazonaws.com/yinkin.ziruoinc.com/images/AWScert.png" class="img-fluid" width="150" height="24"></a>
					</div>
					</div>
				</div>
		</div>
		


	</div>
</div>

<p></p>


