/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: 000000;
 
}


.modal-backdrop.show {
  opacity: 0;
}

.yinkinChatModal {
    padding-left: 65%;
    padding-top: 20%;
   
}

@media (max-width: 576px) { 
  .yinkinChatModal {
   padding-left: 10%;
    padding-top: 0;
    padding-right: 10%;
     padding-top: 30%;
  }

}